/* Reset default styles for better consistency across browsers */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Set global font styles */
body {
  font-family: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #003049;
}

/* Style for the top part of the header */
.header-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.close-icon {
  display: none;
  font-size: 24px;
  color: #fff;
}

/* Styles for active hamburger menu */
.hamburger-menu.active .bar {
  display: none;
}

.hamburger-menu.active .close-icon {
  display: block;
}

/* Navigation menu styles */
.nav-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu.active {
  display: block;
}

.nav-menu li {
  margin-left: 0;
  margin-bottom: 10px;
}

.nav-menu a {
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #555;
}

/* About styles */
.about {
  background-color: #d3d1c7;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h2 {
  color: #003049;
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.about .cta-button {
  display: inline-block;
  background-color: #003049;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.about .cta-button:hover {
  background-color: #004b74;
}

/* Hero section styles */
.hero {
  text-align: center;
  background-color: #fff;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content .hero-subheading {
  font-size: 2em;
  margin-top: 10px;
}

.hero img {
  width: 150px;
  margin-right: 0;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 24px;
  color: #333;
}

/* Join section styles */
.join {
  text-align: center;
  margin-top: 20px;
}

.join a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 14px;
}

.join img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.join span {
  font-size: 16px;
  font-weight: bold;
}

/* Main content styles */
main {
  padding: 20px;
}

.events,
.weather,
.spotlight {
  margin-top: 20px;
  background-color: #eae2b7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.events h2,
.weather h2,
.spotlight h3 {
  color: #003049;
  font-size: 1.5em;
  margin-bottom: 15px;
  border-bottom: 2px solid #003049;
  padding-bottom: 10px;
}

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  margin-bottom: 15px;
}

.events a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.events a:hover {
  color: #003049;
  background-color: #eae2b7;
}

/* Map styles */
.map-section {
  margin-top: 40px;
}

.map-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #003049;
  font-size: 24px;
}

.map-container {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
  padding: 20px;
  background-color: #003049;
  color: #fff;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.contact {
  text-align: center;
  margin-bottom: 16px;
}

.contact p {
  margin-bottom: 5px;
  font-size: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 5px;
}

.development {
  text-align: center;
  font-size: 14px;
}

.development img {
  vertical-align: middle;
  margin: 0 5px;
}

/* Discover page grid layout */
.discover-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  background-color: #eae2b7;
  padding: 20px;
  border-radius: 5px;
}

.sidebar section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #003049;
  border-bottom: 2px solid #003049;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 15px;
  line-height: 1.4;
}

/* Image gallery styles */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.image-gallery h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
  color: #003049;
}

.image-gallery figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-gallery img {
  width: 90%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.image-gallery figcaption {
  margin-top: 5px;
  font-style: italic;
}

/* Visit message styles */
#visit-message {
  font-size: 1.2em;
  font-weight: bold;
  color: #770417;
  margin-top: 10px;
}

/* Event date styles in calendar */
.calendar li strong {
  color: #003049;
}
