body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.904);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  margin-right: 50px;
}

header span {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

#modeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  margin-left: 50px;
}

nav {
  background-color: rgb(10, 69, 49);
  padding: 10px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.nav-links.show {
  display: block;
}

.close-symbol {
  display: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.hamburger-menu.active .bar {
  display: none;
}

.hamburger-menu.active .close-symbol {
  display: block;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.nav-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  align-self: flex-start;
}

section {
  display: inline-block;
  width: 49%;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  border: 1px solid #ccc;
  padding: 0;
  margin: 10px;
  vertical-align: top;
  overflow: auto;
  max-width: 800px;
  border-radius: 10px;
}

.card h2 {
  background-color: rgb(10, 69, 49);
  color: white;
  padding: 10px;
  font-size: 2.5rem;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.card ul li {
  font-size: 1.8rem;
  padding: 5px;
}

.card ul li a {
  text-decoration: none;
  color: #333;
  padding: 2px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card ul li a:hover {
  background-color: rgb(138, 173, 161);
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.904);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-content span {
  margin-right: 10px;
}

.footer-content img {
  margin-left: auto;
}

#lastModified {
  margin-top: 5px;
  color: #ff9900;
}
